@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$var-black: #171a1d;
$var-white: #e0f0ff;
$var-gray: #233742;
$var-blue: #2f769c;
$var-transparent-blue: #2f769c7c;
$var-light-blue: #0ef;
$animation-duration: 6s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: $var-light-blue;
}

html {
  width: 100vw;
  height: 100vh;

  body {
    height: 100%;
    width: 100%;

    background-color: $var-black;

    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      position: relative;
      width: 25vw;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;

      .loginBox {
        width: 175%;
        // border: 1px solid $var-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        h2 {
          text-transform: capitalize;
          font-size: 2rem;
        }
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
          .inputBox {
            width: 100%;
            position: relative;
            input {
              width: 100%;
              height: 50px;
              background: transparent;
              border: 1px solid $var-blue;
              outline: none;
              border-radius: 40px;
              font-size: 1rem;
              color: $var-white;
              padding: 0 20px;
              text-align: center;
              transition: 0.5s;
              &:focus,
              &:valid {
                border-color: $var-light-blue;
              }
              &:valid ~ label,
              &:focus ~ label {
                top: 1px;
                font-size: 0.8rem;
                background-color: $var-black;
              }
            }
            label {
              position: absolute;
              left: 20px;
              top: 50%;
              transform: translateY(-50%);
              font-size: 1rem;
              color: $var-white;
              pointer-events: none;
              transition: 0.5s ease;
              text-transform: capitalize;
            }
          }
          .forgotPassword {
            width: 100%;
            display: flex;
            justify-content: center;
            a {
              color: $var-white;
              text-decoration: none;
              text-transform: capitalize;
              font-size: 0.85rem;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          button {
            width: 100%;
            text-align: center;
            background-color: $var-light-blue;
            color: $var-black;
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: 500;
            border: none;
            padding: 10px 0;
            border-radius: 4rem;
          }
          .signupLink {
            width: 100%;
            display: flex;
            justify-content: center;
            a {
              text-decoration: none;
              text-transform: capitalize;
              font-size: 1rem;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      span {
        position: absolute;
        left: 0;
        width: 32px;
        height: 8px;
        background: $var-transparent-blue;
        border-radius: 8px;
        transform-origin: calc(25vw / 2);
        transform: scale(1.75) rotate(calc(var(--i) * (360deg / 50)));
        animation: animateBlink $animation-duration linear infinite;
        animation-delay: calc(var(--i) * ($animation-duration / 50));
      }

      @keyframes animateBlink {
        0% {
          background-color: $var-light-blue;
        }
        25% {
          background-color: $var-black;
        }
      }
    }
  }
}
